@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300&family=Lugrasimo&family=Oswald:wght@300&family=Poppins:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lugrasimo&family=Oswald:wght@300&family=Poppins:ital,wght@1,300&display=swap');

*{
    box-sizing: border-box;
    padding:0;
    margin:0;
}

:root{
    --primary-color:#0a62b9;    
    --margin-center:0 auto;
    --text-center:center;
    --padding:.75rem;
    --radius: 5px;
    --text-font:'Alegreya Sans', sans-serif;
    --title-fonts:'poppins';
}

body{
    background-color: #dad3d3;
    min-height: 100dvh;
    display:flex;
    flex-direction: column;
    color:antiquewhite;
    font-family: var(--text-font);



}

.main-container{
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-wrapper{
    margin:20px 0px;
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    color:black;
    padding:1rem;
    align-items: center;
    justify-content: center;
    width:400px;
    height: 300px;
    box-shadow: 0 10px 10px rgb(164, 159, 159);
    
    .inputs{
        display:flex;
        flex-direction: column;
        text-transform: uppercase;
        padding:.3rem;
        
        

        .password, .email{
            width:180px;
            
            &:hover{
                border-bottom:3px solid var(--primary-color);
            }
            
        }

    }
    
    .btn-container{
        margin-top:1rem;
        display: flex;
        margin-left: 5px;
        
        .btn-form{
        background-color: var(--primary-color);
        padding: .4rem;
        text-transform:uppercase;
        border-radius: 5px;
        border:none;
        transition: all 200ms ease-in-out;

        &:hover{
            transform: scale(1.1);
        }

        }
    }
    
}